In [2]:
# Load the regular expression library
import re
import sys
!{sys.executable} -m pip install inline
!{sys.executable} -m pip install matplotlib
import inline
import matplotlib
import pandas as pd

data = pd.read_csv('march_27_tweet.csv', low_memory=False)

# Filter to only English entries.
data = data[data['lang'] == 'en']

#remove columns other than the tweet, place, or user_location
data.drop(data.columns.difference(['text', 'place', 'user_location']), 1, inplace=True)

#filter out rows that
data1 = data[data.select_dtypes(include='object').apply(lambda x: x.str.contains('california', flags=re.IGNORECASE, regex=True)).all(axis=1)]
data2 = data[data.select_dtypes(include='object').apply(lambda x: x.str.contains('CA')).all(axis=1)]
data = [data1, data2]
result = pd.concat(data)
result.head()

result.to_csv('032720_tweets',index=False)

#print(result)

Requirement already satisfied: inline in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (0.0.1)
Requirement already satisfied: matplotlib in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (3.3.2)
Requirement already satisfied: cycler>=0.10 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: certifi>=2020.06.20 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (2020.6.20)
Requirement already satisfied: pillow>=6.2.0 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (8.0.0)
Requirement already satisfied: numpy>=1.15 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (1.19.1)
Requirement already satisfied: python-dateutil>=2.1 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: six in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from cycler>=0.10->matplotlib) (1.15.0)

In [40]:
new = pd.read_csv('032720_tweets.csv', low_memory=False)
new.head()


#print(new['user_location'])
san_diego = new.loc[new['user_location'] == "San Diego, CA"] 
print(san_diego)

     place                                               text  user_location
583    NaN  Trump Ripped Over ‚ÄòCongratulations AMERICA!‚Äô T...  San Diego, CA
608    NaN  Another great example of how we can be ‚Äúdisrup...  San Diego, CA
617    NaN      FYI SOCAAALSSS üá∫üá∏üá∫üá∏üá∫üá∏ https://t.co/NfX9KdmWVK  San Diego, CA
622    NaN  JUST HOW DO YOU UOU TOUT SUCCESS WHEN WE THE W...  San Diego, CA
921    NaN  Starting today all @CA_DMV offices will be clo...  San Diego, CA
1209   NaN  PLEASE GUYS!!!! SHOP LOCAL! https://t.co/BpeIr...  San Diego, CA
1343   NaN  The @uscensusbureau has suspended field operat...  San Diego, CA
1799   NaN  For all those on the #COVID front lines who ha...  San Diego, CA
1872   NaN  Thank you @RepSusanDavis  for including $1.32B...  San Diego, CA
1905   NaN  We acknowledge the necessity of @CAgovernor @G...  San Diego, CA
2026   NaN  @JoeySalads Ur clearly a dumb def and blind in...  San Diego, CA
2040   NaN  Detained immigrants face deadly risk in corona...  San Diego, CA

In [9]:
import re
import sys
!{sys.executable} -m pip install inline
!{sys.executable} -m pip install matplotlib
import inline
import matplotlib
import pandas as pd

data = pd.read_csv('april_30_tweets.csv', low_memory=False)

# Filter to only English entries.
data = data[data['lang'] == 'en']

#remove columns other than the tweet, place, or user_location
data.drop(data.columns.difference(['text', 'place', 'user_location']), 1, inplace=True)

#filter out rows that
data1 = data[data.select_dtypes(include='object').apply(lambda x: x.str.contains('california', flags=re.IGNORECASE, regex=True)).all(axis=1)]
data2 = data[data.select_dtypes(include='object').apply(lambda x: x.str.contains('CA')).all(axis=1)]
data = [data1, data2]
result = pd.concat(data)
result.head()

result.to_csv('043020_tweets.csv',index=False)

Requirement already satisfied: inline in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (0.0.1)
Requirement already satisfied: matplotlib in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (3.3.2)
Requirement already satisfied: numpy>=1.15 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (1.19.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (8.0.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: certifi>=2020.06.20 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (2020.6.20)
Requirement already satisfied: python-dateutil>=2.1 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: six>=1.5 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)

In [10]:
another = pd.read_csv('043020_tweets.csv', low_memory=False)
another.head()

  place                                               text    user_location
0   NaN  üò° D.A. warns public of 7 ‚Äòhigh-risk‚Äô sex offen...              NaN
1   NaN  @BillFOXLA @FOXLA In California Inmates go fre...  California, USA
2   NaN  California is just rockin‚Äô it!! https://t.co/N...  California, USA
3   NaN  7 ‚Äòhigh-risk‚Äô sex offenders are released out o...              NaN
4   NaN  Why is Newsom doing this?  Why is he not keepi...              NaN

In [11]:
import re
import sys
!{sys.executable} -m pip install inline
!{sys.executable} -m pip install matplotlib
import inline
import matplotlib
import pandas as pd

data = pd.read_csv('may_07_tweets.csv', low_memory=False)

# Filter to only English entries.
data = data[data['lang'] == 'en']

#remove columns other than the tweet, place, or user_location
data.drop(data.columns.difference(['text', 'place', 'user_location']), 1, inplace=True)

#filter out rows that
data1 = data[data.select_dtypes(include='object').apply(lambda x: x.str.contains('california', flags=re.IGNORECASE, regex=True)).all(axis=1)]
data2 = data[data.select_dtypes(include='object').apply(lambda x: x.str.contains('CA')).all(axis=1)]
data = [data1, data2]
result = pd.concat(data)
result.head()

result.to_csv('050720_tweets.csv',index=False)

Requirement already satisfied: inline in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (0.0.1)
Requirement already satisfied: matplotlib in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (3.3.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: numpy>=1.15 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (1.19.1)
Requirement already satisfied: pillow>=6.2.0 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (8.0.0)
Requirement already satisfied: cycler>=0.10 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: python-dateutil>=2.1 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: certifi>=2020.06.20 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (2020.6.20)
Requirement already satisfied: six in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from cycler>=0.10->matplotlib) (1.15.0)

In [12]:
baba = pd.read_csv('050720_tweets.csv', low_memory=False)
baba.head()

,place,text,user_location
0,NaN,REOPENING KERN: The Bakersfield City Council ...,"Bakersfield, California"
1,NaN,Democrats‚Äô hold on House seat in jeopardy as c...,NaN
2,NaN,Democrats‚Äô hold on House seat in jeopardy as c...,NaN
3,NaN,California Coronavirus Update: Governor Gavin ...,California
4,NaN,Advisers to California Gov. Gavin Newsom agree...,"Santa Maria, California"

In [13]:
import re
import sys
!{sys.executable} -m pip install inline
!{sys.executable} -m pip install matplotlib
import inline
import matplotlib
import pandas as pd

data = pd.read_csv('july_20_tweets.csv', low_memory=False)

# Filter to only English entries.
data = data[data['lang'] == 'en']

#remove columns other than the tweet, place, or user_location
data.drop(data.columns.difference(['text', 'place', 'user_location']), 1, inplace=True)

#filter out rows that
data1 = data[data.select_dtypes(include='object').apply(lambda x: x.str.contains('california', flags=re.IGNORECASE, regex=True)).all(axis=1)]
data2 = data[data.select_dtypes(include='object').apply(lambda x: x.str.contains('CA')).all(axis=1)]
data = [data1, data2]
result = pd.concat(data)
result.head()

result.to_csv('072020_tweets.csv',index=False)

Requirement already satisfied: inline in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (0.0.1)
Requirement already satisfied: matplotlib in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (3.3.2)
Requirement already satisfied: certifi>=2020.06.20 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (2020.6.20)
Requirement already satisfied: numpy>=1.15 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (1.19.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (8.0.0)
Requirement already satisfied: python-dateutil>=2.1 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: six>=1.5 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)

In [14]:
hey = pd.read_csv('072020_tweets.csv', low_memory=False)
hey.head()

,place,text,user_location
0,NaN,@JohnnyJet Another sleepy Joe Biden gaff. The...,NaN
1,NaN,@LorenaSGonzalez You wouldn't recognize democr...,NaN
2,NaN,@ChapulinColoRed @rogersniki This is a load of...,"California, USA"
3,NaN,"#coronavirus first broke out in China, #Trump ...",NaN
4,NaN,Congressman @RepLaMalfa details a scathing let...,Northern California

In [15]:
import re
import sys
!{sys.executable} -m pip install inline
!{sys.executable} -m pip install matplotlib
import inline
import matplotlib
import pandas as pd

data = pd.read_csv('august_31_tweets.csv', low_memory=False)

# Filter to only English entries.
data = data[data['lang'] == 'en']

#remove columns other than the tweet, place, or user_location
data.drop(data.columns.difference(['text', 'place', 'user_location']), 1, inplace=True)

#filter out rows that
data1 = data[data.select_dtypes(include='object').apply(lambda x: x.str.contains('california', flags=re.IGNORECASE, regex=True)).all(axis=1)]
data2 = data[data.select_dtypes(include='object').apply(lambda x: x.str.contains('CA')).all(axis=1)]
data = [data1, data2]
result = pd.concat(data)
result.head()

result.to_csv('083120_tweets.csv',index=False)

Requirement already satisfied: inline in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (0.0.1)
Requirement already satisfied: matplotlib in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (3.3.2)
Requirement already satisfied: pillow>=6.2.0 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (8.0.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: numpy>=1.15 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (1.19.1)
Requirement already satisfied: certifi>=2020.06.20 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (2020.6.20)
Requirement already satisfied: python-dateutil>=2.1 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: six>=1.5 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)

In [23]:
hello = pd.read_csv('083120_tweets.csv', low_memory=False)
hello.head()
len(hello)

2313

In [20]:
import re
import sys
!{sys.executable} -m pip install inline
!{sys.executable} -m pip install matplotlib
import inline
import matplotlib
import pandas as pd

data = pd.read_csv('september_20_tweets.csv', low_memory=False)

# Filter to only English entries.
data = data[data['lang'] == 'en']

#remove columns other than the tweet, place, or user_location
data.drop(data.columns.difference(['text', 'place', 'user_location']), 1, inplace=True)

#filter out rows that
data1 = data[data.select_dtypes(include='object').apply(lambda x: x.str.contains('california', flags=re.IGNORECASE, regex=True)).all(axis=1)]
data2 = data[data.select_dtypes(include='object').apply(lambda x: x.str.contains('CA')).all(axis=1)]
data = [data1, data2]
result = pd.concat(data)
result.head()

result.to_csv('092020_tweets.csv',index=False)

Requirement already satisfied: inline in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (0.0.1)
Requirement already satisfied: matplotlib in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (3.3.2)
Requirement already satisfied: cycler>=0.10 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: certifi>=2020.06.20 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (2020.6.20)
Requirement already satisfied: pillow>=6.2.0 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (8.0.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: python-dateutil>=2.1 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: numpy>=1.15 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (1.19.1)
Requirement already satisfied: six in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from cycler>=0.10->matplotlib) (1.15.0)

In [22]:
h = pd.read_csv('092020_tweets.csv', low_memory=False)
h.head()
len(h)

1567

In [41]:
import re
import sys
!{sys.executable} -m pip install inline
!{sys.executable} -m pip install matplotlib
import inline
import matplotlib
import pandas as pd

data = pd.read_csv('october_03_tweets.csv', low_memory=False)

# Filter to only English entries.
data = data[data['lang'] == 'en']

#remove columns other than the tweet, place, or user_location
data.drop(data.columns.difference(['text', 'place', 'user_location']), 1, inplace=True)

#filter out rows that
data1 = data[data.select_dtypes(include='object').apply(lambda x: x.str.contains('california', flags=re.IGNORECASE, regex=True)).all(axis=1)]
data2 = data[data.select_dtypes(include='object').apply(lambda x: x.str.contains('CA')).all(axis=1)]
data = [data1, data2]
result = pd.concat(data)
result.head()

result.to_csv('0100320_tweets.csv',index=False)

Requirement already satisfied: inline in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (0.0.1)
Requirement already satisfied: matplotlib in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (3.3.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: numpy>=1.15 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (1.19.1)
Requirement already satisfied: pillow>=6.2.0 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (8.0.0)
Requirement already satisfied: python-dateutil>=2.1 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: certifi>=2020.06.20 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (2020.6.20)
Requirement already satisfied: cycler>=0.10 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: six>=1.5 in /Users/marcosgonzalez/Desktop/anaconda3/envs/new-r/lib/python3.8/site-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)

In [42]:
p = pd.read_csv('100320_tweets.csv', low_memory=False)
p.head()
len(p)

2624

In [19]:
a = pd.read_csv('data_032720_tweets.csv', low_memory = False)
#a.head()

b = pd.read_csv('data_043020_tweets.csv', low_memory = False)
#b.head()

c = pd.read_csv('data_050720_tweets.csv', low_memory = False)
#c.head()

d = pd.read_csv('data_072020_tweets.csv', low_memory = False)
#d.head()

e = pd.read_csv('data_083120_tweets.csv', low_memory = False)
#e.head()

f = pd.read_csv('data_092020_tweets.csv', low_memory = False)
#f.head()

g = pd.read_csv('data_100320_tweets.csv', low_memory = False)
#g.head()

2134

In [20]:
import os
import glob
import pandas as pd

In [28]:
extension = 'csv'
all_filenames = ["data_032720_tweets.csv", "data_043020_tweets.csv", "data_050720_tweets.csv", "data_072020_tweets.csv", "data_083120_tweets.csv", "data_092020_tweets.csv", "data_100320_tweets.csv" ]

In [29]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_all_dates_filtered.csv", index=False, encoding='utf-8-sig')

In [30]:
h = pd.read_csv('combined_all_dates_filtered.csv', low_memory = False)
h.head()

,place,text,user_location
0,NaN,California officials implore people not to flu...,NaN
1,NaN,Coronavirus Southern California update: Los An...,NaN
2,NaN,@NoLabelsFitMe @mmfa Just more insanity in blu...,Southern California
3,NaN,‚ö°Ô∏è ‚ÄúCalifornia DMV closing all field offices t...,NaN
4,NaN,"California is the next New York, and New York ...",NaN

In [31]:
len(h)

19198

In [48]:
san_diego = h[h["user_location"] == "San Diego, CA"]

san_francisco = h[h["user_location"] == "San Francisco, CA"]

los_angeles = h[h["user_location"] == "Los Angeles, CA"]

sacramento = h[h["user_location"] == "Sacramento, CA"]

san_jose = h[h["user_location"] == "San Jose, CA"]

oakland = h[h["user_location"] == "Oakland, CA"]

50

In [71]:
#remove special characters, numbers, punctuations
h['tidy_tweet'] = h['text'].str.replace("[^a-zA-Z#]", "")
h['tidy_tweet'] = h['text'].str.replace("\\", "")

h['bow'] = h['tidy_tweet'].str.split()
h = h[h['bow'].isnull() == False]

h.head(10)

,place,text,user_location,tidy_tweet,bow
0,NaN,California officials implore people not to flu...,NaN,California officials implore people not to flu...,"[California, officials, implore, people, not, ..."
1,NaN,Coronavirus Southern California update: Los An...,NaN,Coronavirus Southern California update: Los An...,"[Coronavirus, Southern, California, update:, L..."
2,NaN,@NoLabelsFitMe @mmfa Just more insanity in blu...,Southern California,@NoLabelsFitMe @mmfa Just more insanity in blu...,"[@NoLabelsFitMe, @mmfa, Just, more, insanity, ..."
3,NaN,‚ö°Ô∏è ‚ÄúCalifornia DMV closing all field offices t...,NaN,‚ö°Ô∏è ‚ÄúCalifornia DMV closing all field offices t...,"[‚ö°Ô∏è, ‚ÄúCalifornia, DMV, closing, all, field, of..."
4,NaN,"California is the next New York, and New York ...",NaN,"California is the next New York, and New York ...","[California, is, the, next, New, York,, and, N..."
5,NaN,California DMV closing all field offices to pu...,California USA üá∫üá∏,California DMV closing all field offices to pu...,"[California, DMV, closing, all, field, offices..."
6,NaN,"FRIENDS, I personally know the internationally...",NaN,"FRIENDS, I personally know the internationally...","[FRIENDS,, I, personally, know, the, internati..."
7,NaN,"Washington, California, NY states are the wors...",NaN,"Washington, California, NY states are the wors...","[Washington,, California,, NY, states, are, th..."
8,NaN,URGENT: Call @NYGovCuomo &amp; @GavinNewsom on...,NaN,URGENT: Call @NYGovCuomo &amp; @GavinNewsom on...,"[URGENT:, Call, @NYGovCuomo, &amp;, @GavinNews..."
9,NaN,U.S. Customs and Border Protection eventually ...,NaN,U.S. Customs and Border Protection eventually ...,"[U.S., Customs, and, Border, Protection, event..."

In [95]:
import pandas as pd

all = pd.value_counts(list(pd.concat(h['bow'])))
freq = pd.DataFrame({'All':all})

A = pd.value_counts(list(pd.concat(san_diego['bow'])))
freq['san_diego'] = A

freq['PMI'] = np.log2((freq['san_diego'] * np.sum(freq['All'])) / (freq['All'] * np.sum(freq['san_diego'])))

freq2 = freq[freq['san_diego'] > 5]
freq2.sort_values(by = 'PMI', ascending = False)
words = [w for w in freq2.index.values if w not in more_stopwords]
freq3 = freq2.loc[words]

name = dfmasks['cleaned_text'].iloc[0]
freq3.sort_values(by = 'PMI', ascending = False).to_csv('D:/'+'{}_PMI.csv'.format(name))

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "Series"