In [25]:
#import csv

#print '2020-03-22_clean-dataset1'.csv.encode('latin1').decode('cp1251')

#reader = csv.reader(open(r'2020-03-22_clean-dataset1.csv', encoding='utf-8'),delimiter=' ')
#filtered = filter(lambda p: 'en' == p[10], reader)
#csv.writer(open(r"2020-03-22_clean-dataset-en.csv",'w'),delimiter=' ').writerows(filtered)

import pandas as pd

data = pd.read_csv('2020-03-22_clean-dataset1.csv')
# Filter the data accordingly.
data = data[data['lang'] == 'en']
print(data)

data.to_csv('2020-02-22_clean-dataset-en.csv')

       coordinates                      created_at  \
0              NaN  Sun Mar 22 04:01:32 +0000 2020
1              NaN  Sun Mar 22 04:01:33 +0000 2020
6              NaN  Sun Mar 22 04:01:29 +0000 2020
7              NaN  Sun Mar 22 04:01:39 +0000 2020
8              NaN  Sun Mar 22 04:01:32 +0000 2020
...            ...                             ...
654978         NaN  Mon Mar 23 04:02:46 +0000 2020
654979         NaN  Mon Mar 23 04:02:47 +0000 2020
654983         NaN  Mon Mar 23 04:02:44 +0000 2020
654984         NaN  Mon Mar 23 04:02:40 +0000 2020
654988         NaN  Mon Mar 23 04:02:42 +0000 2020

                                       hashtags media  \
0                                           NaN   NaN
1                                           NaN   NaN
6                                           NaN   NaN
7                                           NaN   NaN
8                                           NaN   NaN
...                                         ...   ...
654978  auspol coronavirus COVID19Aus COVID19au   NaN
654979                                  COVID19   NaN
654983                                      NaN   NaN
654984                                      NaN   NaN
654988                                      NaN   NaN

                                                     urls  favorite_count  \
0                                 http://chng.it/BgynHL7q               0
1       https://twitter.com/ebruenig/status/1241572541...              26
6       https://twitter.com/RealErinCruz/status/124146...               0
7                                                     NaN               0
8       https://www.westernjournal.com/surgeon-general...               1
...                                                   ...             ...
654978                                                NaN               0
654979  https://twitter.com/realDonaldTrump/status/124...               0
654983  https://twitter.com/kenjilopezalt/status/12410...               0
654984  http://Globalnews.ca https://globalnews.ca/new...               0
654988  https://twitter.com/ANINewsUP/status/124193592...               0

                         id in_reply_to_screen_name  in_reply_to_status_id  \
0       1241575716518420000                     NaN                    NaN
1       1241575720570190000                     NaN                    NaN
6       1241575703394610000                     NaN                    NaN
7       1241575745597640000                     NaN                    NaN
8       1241575716166060000                     NaN                    NaN
...                     ...                     ...                    ...
654978  1241938414145950000               albericie           1.241683e+18
654979  1241938418302610000                     NaN                    NaN
654983  1241938406172530000            annabelcrabb           1.241938e+18
654984  1241938389198410000                     NaN                    NaN
654988  1241938397628940000                     NaN                    NaN

        in_reply_to_user_id  ... user_followers_count user_friends_count  \
0                       NaN  ...                  223               2260
1                       NaN  ...                 1069                832
6                       NaN  ...                14785              14144
7                       NaN  ...                 1501               1478
8                       NaN  ...                37452                633
...                     ...  ...                  ...                ...
654978           64705123.0  ...                   44                 85
654979                  NaN  ...                  169               1092
654983           21075591.0  ...                   67                209
654984                  NaN  ...                 1187               3927
654988                  NaN  ...                 1959               1828

       user_listed_count                  user_location  \
0                     10                             42
1                     13                  New York City
6                     92                Cincinnat, Ohio
7                     52  T Dot / The 6ix / Why Why Zed
8                    354                            NaN
...                  ...                            ...
654978                 0                            NaN
654979                 1                            NaN
654983                 0                            NaN
654984                85                 Cincinnati, OH
654988                 3               Hyderabad, India

                          user_name  user_screen_name.1 user_statuses_count  \
0                              wham         ragingmaOui               27479
1                          Aurora C          theaurorac               13623
6                         genuke1ü¶äüêé             genuke1              146128
7       CeeKae üá®üá¶üè¥Û†ÅßÛ†Å¢Û†Å•Û†ÅÆÛ†ÅßÛ†ÅøüáÆüá™üá©üá∞üè¥Û†ÅßÛ†Å¢Û†Å≥Û†Å£Û†Å¥Û†Åø      CowieKaunweigh              122618
8              Capitalism Institute       Cap_Institute               44262
...                             ...                 ...                 ...
654978               Andrew Nielsen      AndrewWNielsen                8271
654979                   Mark Allen       markallen1230                4678
654983              Rebecca Perkins     rebeccakperkins                  62
654984    Tony Brice üè≥Ô∏è‚Äçüåà ‚ú° üá®üá¶ üá∫üá∏ üóΩ      AmericanCFLFan              298129
654988               LFC IS LIFE!!‚ù§      tweet4manuraag               20812

       user_time_zone                           user_urls user_verified
0                 NaN                                 NaN         False
1                 NaN                                 NaN         False
6                 NaN                                 NaN         False
7                 NaN                                 NaN         False
8                 NaN  http://www.CapitalismInstitute.org         False
...               ...                                 ...           ...
654978            NaN                                 NaN         False
654979            NaN                                 NaN         False
654983            NaN                                 NaN         False
654984            NaN                                 NaN         False
654988            NaN                                 NaN         False

[358590 rows x 34 columns]